---
BasedOnStyle: GNU
IndentWidth: 4
ColumnLimit: 100
DerivePointerAlignment: false
PointerAlignment: Right
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: true
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
  AfterCaseLabel: false
AlignConsecutiveShortCaseStatements:
  Enabled: true
AllowShortFunctionsOnASingleLine: None
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
SpaceBeforeParens: ControlStatements
BreakBeforeBraces: Custom
AlignConsecutiveMacros: true
